/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 310px;
    margin: 0 auto;
    background: white;
    padding: 5px;
}

.wrap .summary{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    outline: 1px solid #e7eeea;
}

.wrap .summary .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap h1{
    background: #e7eeea;
    color: #829886;
    text-align: center;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.wrap .summary p{
    background: white;
    font-size: 16px;
    color: #829886;
    padding-bottom: 16px;
}

.wrap .summary h2{
    background: white;
    font-size: 18px;
    color: #829886;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 14px;
}

.wrap .shoppingCar{
    outline: 1px solid #e7eeea;
}

.wrap .shoppingCar .shoppingItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 16px;
}

.wrap .shoppingCar .shoppingItem p{
    font-size: 16px;
    color: #829886;
    padding-bottom: 10px;
}

.wrap .shoppingCar .shoppingItem h2{
    font-size: 20px;
    color: #829886;
    font-weight: bolder;

}




