.content{
    display: flex;
    background: #efe9e7;
    padding: 50px 42px; 
}
@media(max-width:567px){
    .content{
        flex-direction: column;
        padding: 50px 10px; 
    }
}


.product-menu-wrap .slogan{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    margin-bottom: 28px;
    width: 220px;
}
.product-menu-wrap .mobile-show-menu{
    display: none;
}
.product-menu-wrap ul.active{
    max-height: 150px;
}
.product-menu-wrap li{
    border-bottom: #3D1101 1px solid;
}
.product-menu-wrap li a{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    line-height: 32px;
}
.product-menu-wrap li a:hover{
    background: #3D1101;
    color: white;
}
@media(max-width:567px){
    .product-menu-wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .product-menu-wrap .slogan{
        flex-grow: 1;
    }
    .product-menu-wrap .mobile-show-menu{
        display: block;
        font-size: 20px;
        color: #3D1101;
        margin-bottom: 28px;
    }
    .product-menu-wrap .product-menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 2s;
    }
}

.main{
    flex-grow: 1;
    margin-left: 20px;
}

.top-bar{
    display: flex;
    align-items: center;
}
.top-bar .search-bar{
    flex-grow: 1;
    display: flex;
}
.top-bar .search-bar .input-text{
    flex-grow: 1;
    border-radius: 2px 0  0 2px;
    height: auto;
    border: #3D1101 1px solid;
    font-size: 14px;
    line-height: 1em;
    padding: 5.25px 1em;
}
.top-bar .search-bar .pure-button{
    font-size: 18px;
    background: #3D1101;
    color: white;
    border-radius: 0 2px 2px 0;
    padding: 7px 9px;
}
.top-bar .function-menu{
    display: flex;
    justify-content: flex-end;
}
.top-bar .function-menu li{
    width: 80px;
    display: flex;
    justify-content: center;
}
.top-bar .function-menu li.cart-shopping{
    border-left: #3D1101 1px solid;
}
.top-bar .function-menu a{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    text-align: center;
}
.function-menu li.cart-shopping .wrap{
    position: relative;
}
.function-menu li.cart-shopping .wrap .num-item{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: orange;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
@media(max-width:767px){
    .top-bar{
        flex-direction: column;
        align-items: stretch;
    }
    .top-bar .function-menu{
        margin-top: 20px; 
    }
}
@media(max-width:567px){
    .top-bar{
        margin-top: 10px;
    }
}

.product-list{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-list .product{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
}
.product-list .product .img-wrap{
    position: relative;
    margin-bottom: 25px;
    width: 100%;
}
.product-list .product .img-wrap:after{
    display: block;
    width: 100%;
    padding-top: 40%;
    content: '';
}
.product-list .product.classic .img-wrap{
    background: url(../img/myImg/product_1.png) no-repeat center / contain;
}
.product-list .product.sausage .img-wrap{
    background: url(../img/myImg/product_2.png) no-repeat center / contain;
}
.product-list .product.hamburg .img-wrap{
    background: url(../img/myImg/product_3.png) no-repeat center / contain;
}
.product-list .product.dragon-ball .img-wrap{
    background: url(../img/myImg/product_4.png) no-repeat center / contain;
}
.product .img-wrap .favorite{
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    font-size: 22px;
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.product .img-wrap .favorite:hover{
    color: red;
}
.product .img-wrap .slogan-wrap{
    position: absolute;
    right: -24.5px;
    top: 8.5px;
    display: flex;
    flex-direction: column;
    transform: rotate(-315deg);
}
.product .slogan-wrap .up{
    display: flex;
}
.product .slogan-wrap .up .left{
    flex-grow: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #00cc99 transparent;
}
.product .slogan-wrap .up .slogan{
    flex-grow: 1;
    color: white;
    font-family: NotoSansCJKtc-Bold;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    background: #00cc99;
}
.product .slogan-wrap .up .right{
    flex-grow: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #00cc99;
}
.product .slogan-wrap .down{
    display: flex;
    justify-content: space-between;
}
.product .slogan-wrap .down .left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #078fd6 transparent transparent transparent;
}
.product .slogan-wrap .down .right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #078fd6 transparent transparent;    
}
.product .product-name{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    margin-bottom: 8px;
    text-align: center;
}
.product .product-name-en{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 12px;
    color: #3D1101;
    margin-bottom: 8px;
    text-align: center;
    flex-grow: 1;
}
.product .border-line{
    margin: 0 auto;
    height: 0px;
    width: 90px;
    border-top: #3D1101 1px solid;
    margin-bottom: 25px;    
}
.product .price{
    font-family: Roboto-Light;
    font-size: 20px;
    color: #3D1101;
    margin-bottom: 25px;
    text-align: center;
}
.product .add-cart{
    border: 2px solid #ff5e45;
    border-radius: 3px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    line-height: 2em;
    color: #FF5E45;
    text-align: center;
    margin: 5%;
}
.product .add-cart:hover{
    background: orange;
}
@media(max-width:767px){
    .product-list .product{
        width: 49%;
    }
    .product .add-cart{
        font-size: 14px;
    }
}
@media(max-width:567px){
    .product-list .product{
        width: 98%;
    }
    .product .add-cart{
        font-size: 16px;
    }
    .product-list .product.classic .img-wrap{
        background: url(../img/myImg/product_1@2x.png) no-repeat center / contain;
    }
    .product-list .product.sausage .img-wrap{
        background: url(../img/myImg/product_2@2x.png) no-repeat center / contain;
    }
    .product-list .product.hamburg .img-wrap{
        background: url(../img/myImg/product_3@2x.png) no-repeat center / contain;
    }
    .product-list .product.dragon-ball .img-wrap{
        background: url(../img/myImg/product_4@2x.png) no-repeat center / contain;
    }
}