.feature{
    background: #efe9e7;
    padding: 50px 42px;
}
.feature .slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.feature .slogan h2{
    text-align: center;
    font-size: 20px;
    font-family: MicrosoftJhengHeiRegular;
    color: #3D1101;
    line-height: 32px;
    letter-spacing: 0;
    padding: 0 5%;
}
.feature .slogan .center-border{
    border-bottom: 1px solid #979797;
    max-width: 20%;
    flex-grow: 1;
}
.feature ul{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.feature .left, .feature .right{
    display: none;
}
.feature .feature-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.feature .feature-slide h3{
    margin: 20px 0;
    color: #3D1101;
    font-size: 18px;
    font-family: MicrosoftJhengHeiRegular;
}
.feature .feature-slide p{
    color: #3D1101;
    font-size: 16px;
    font-family: MicrosoftJhengHeiRegular;
}
@media(max-width:767px){
    .feature .feature-slide h3{
        font-size: 16px;
    }
    .feature .feature-slide p{
        font-size: 14px;
    }
}
@media(max-width:567px){
    .feature{
        padding: 50px 10px;
    }
    .feature .feature-slide{
        flex-grow: 1;
    }
    .feature .left, .feature .right{
        display: block;
        font-size: 40px;
        color: #979797;
        line-height: 200px;
    }
    .feature .slogan h2{
        font-size: 20px;
    }
    .feature .feature-slide h3{
        font-size: 18px;
    }
    .feature .feature-slide p{
        font-size: 16px;
    }
}

.main-chef{
    display: flex;
    flex-wrap: wrap;
    background: #3d1101;
    padding: 0 42px;
}
.main-chef .img-wrap{
    width: 50%;
    margin-right: 5%;
    min-height: 460px;
    background: url(../img/myImg/main_chef_brown@2x.png) no-repeat center center / auto 100%;
}
.main-chef .info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-chef h2{
    font-family: MicrosoftJhengHeiRegular;
    color: #EFE9E7;
    font-size: 20px;
    line-height: 1.6;
}
.main-chef p{
    font-family: MicrosoftJhengHeiRegular;
    color: #EFE9E7;
    font-size: 16px;
    line-height: 1.6;
}
@media(max-width:767px){
    .main-chef{
        padding: 0 21px;
    }
    .main-chef h2{
        font-size: 16px;
    }
    .main-chef p{
        font-size: 14px;
    }
}
@media(max-width:567px){
    .main-chef{
        padding: 0 0;
    }
    .main-chef .img-wrap{
        width: 100%;
        margin-right: 0;
        background: url(../img/myImg/main_chef_brown.png) no-repeat center center / auto 100%;
    }
    .main-chef .info{
        padding: 20px 42px;
        width: 100%;
    }
    .main-chef h2{
        font-size: 16px;
    }
    .main-chef p{
        font-size: 12px;
    }
}

.AD{
    background: #efe9e7;
    padding: 50px 42px;
}
.AD .slogan{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.AD ul{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.AD .left, .AD .right{
    display: none;
}
.AD-slide{
    width: 32%;
    display: flex;
    flex-direction: column;
}
.AD-slide .person{
    display: flex;
    align-items: center;
}
.AD-slide .person img{
    width: 67px;
    height: auto;
    margin-right: 10px;
}
.AD-slide .person h3{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 18px;
    color: #3D1101;
}
.AD-slide .comment{
    padding-left: 77px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    line-height: 1.5;
    padding-bottom: 30px;
    flex-grow: 1;
}
.AD-slide  .signature{
    color: rgba(61, 17, 1, 0.75);
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    text-align: right;
}
@media(max-width:767px){
    .AD-slide .comment{
        font-size: 12px;
        padding-left: 0px;
    }
    .AD-slide  .signature{
        font-size: 12px;
    }
}
@media(max-width:567px){
    .AD{
        padding: 50px 10px;
    }
    .AD .left, .AD .right{
        display: block;
        font-size: 40px;
        color: #979797;
        line-height: 67px;
    }
    .AD-slide{
        flex-grow: 1;
    }
    .AD-slide .comment{
        font-size: 16px;
        padding-left: 77px;
    }
    .AD-slide  .signature{
        font-size: 16px;
    }
}

.reserve{
    display: flex;
    flex-wrap: wrap;
    background: #f6f4f3;
    padding: 50px 42px;
    justify-content: center;
}
.reserve .slogan{
    width: 100%;
    text-align: center;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    line-height: 1.5em;
    color: #3D1101;
    margin-bottom: 50px;
}
.reserve .img-wrap{
    width: 50%;
    margin-right: 5%;
    background: url(../img/myImg/Map@2x.png) no-repeat center center / auto 100%;
}
.reserve .pure-form{
    width: 45%;
}
.reserve .pure-form .input-label-size{
    line-height: 1em;
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
}
.reserve .pure-form .input-size{
    margin-bottom: 10px;
    font-family: PingFangTC-Light;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 1.5em;
}
.reserve .radio-size{
    line-height: 2em;
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
}
.reserve .radio-size input{
    margin-right: 30px;
    margin-left: 10px;
}
.reserve .send{
    display: flex;
    justify-content: flex-end;
}
.reserve .send input, .reserve .send a{
    margin-left: 10px;
    width: 70px;
    line-height: 20px;
}
.reserve .send input:hover, .reserve .send a:hover{
    background-color: #f56c28;
    color: white;
}
@media(max-width:767px){
    .reserve{
        padding: 50px 21px;
    }
}
@media(max-width:567px){
    .reserve{
        padding: 50px 42px;
    }
    .reserve .img-wrap{
        width: 100%;
        height: 388px;
        margin-right: 0;
        background: url(../img/myImg/Map.png) no-repeat  center center / auto 100%;
    }
    .reserve img{
        height: auto;
        width: 100%;
    }
    .reserve .pure-form{
        width: 100%;
    }
}