*,*:before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
a{
	display: block;
    text-decoration: none;
}

.wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    background: black;
    color: white;
}
.menu-logo .menu a:hover, .menu-logo .menu a:focus{
    text-decoration: underline;
}
.menu-logo{
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    flex-wrap: wrap;
}
.menu-logo .mobile-show-menu{
    display: none;
    color: white;
}
.menu-logo .logo{
    width: 120px;
    height: 24px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/myImg/logo_w@svg.svg) no-repeat left top / contain;
}
.menu-logo .menu{
    display: flex;
}
.menu-logo .menu.active{
    max-height: 400px;
}
.menu-logo .menu a{
    padding: 0 15px;
    font-size: 18px;
    color: white;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/myImg/header_desktop.png) no-repeat;
    background-size: contain;
    height: 40vw;
    max-height: 400px;
}
.banner .slogan{
    text-align: center;
    background: rgba(10, 10, 10, 0.5);
}
.banner .slogan h2{
    line-height: 1.5;
    margin: 14px 50px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 36px;
}
.banner .slogan p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 14px;
}
@media(max-width:767px){
    .menu-logo{
        position: relative;
    }
    .menu-logo .menu{
        position: absolute;
        z-index: 10;
        top: 56px;
        left: 0px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 2s;
    }
    .menu-logo .menu li{
        width: 100%;
        background: black;
        text-align: center;
        padding: 10px;
    }
    .menu-logo .mobile-show-menu{
        display: block;
    }
    .banner .slogan h2{
        font-size: 26px;
    }
}
@media(max-width:567px){
    .menu-logo .menu{
        flex-direction: column;
    }
    .banner .slogan h2{
        font-size: 20px;
    }
    .banner{
        background: url(../img/myImg/header_mobile.png) no-repeat;
        background-size: contain;
        height: 70vw;
    }
}

/*footer*/
.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 42px;
    background: #efe9e7;
}
.about-us{
    width: 33%;
    padding-right: 3%;
}
.about-us h2, .contact-us h2{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    line-height: 1.5;
    margin-bottom: 0.5em;
}
.about-us p, .contact-us a{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    line-height: 1.5;
    color:#3d1101;
}
.contact-us{
    width: 27%;
}
.contact-us li{
    list-style: disc inside;
}
.contact-us a{
    display: inline;
}
.contact-us a:hover, .contact-us a:focus{
    text-decoration: underline;
}
.logo-community{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.logo-community .logo{
    width: 245px;
    height: 49px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/myImg/logo_l@svg.svg) no-repeat left top / contain;
}
.logo-community .community{
    display: flex;
    width: 200px;
}
.logo-community .community li{
    width: 33.33333%;
}
.logo-community .community a{
    font-size: 36px;
    text-align: right;
}
.logo-community .community .ig{
    color: #DB4437;
}
.logo-community .community .twitter{
    color: #41ABE1;
}
.logo-community .community .fb{
    color: #3A5795;
}
@media(max-width:767px){
    .about-us{
        width: 60%;
        margin-bottom: 30px;
    }
    .contact-us{
        width: 40%;
        margin-bottom: 30px;
    }
    .about-us p, .contact-us a{
        font-size: 14px;
    }
    .logo-community{
        width: 100%;
        align-items: flex-start;
    }
    .logo-community .logo{
        margin-bottom: 20px;
    }
    .logo-community .community a{
        text-align: left;
    }
}
@media(max-width:567px){
    .about-us{
        width: 100%;
    }
    .contact-us{
        width: 100%;
    }
    .logo-community{
        align-items: flex-end;
    }
    .logo-community .logo{
        font-size: 46px;
    }
    .logo-community .community a{
        text-align: right;
    }
}
