.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efe9e7;
    padding: 50px 42px;
}
.content h2{
    text-align: center;
    font-family: NotoSansCJKtc-Black;
    font-size: 48px;
    color: #3D1101;
    font-weight: bolder;
}
.content p{
    text-align: center;
    font-family: NotoSansCJKtc-Medium;
    font-size: 20px;
    color: #3D1101;
    margin-bottom: 30px;
}
.content form{
    width: 300px;
    border-top: 3px solid #ff5e45;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
    padding: 15px;
}
.content form legend{
    text-align: center;
    font-family: NotoSansCJKtc-Black;
    font-size: 18px;
    color: #3D1101;
    font-weight: bolder;
}
.content form label{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
}
.content form .input-size{
    margin-bottom: 20px;
}
.content form .forget-password{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 14px;
    color: #FF5E45;
    margin-bottom: 30px;

}
.content form .send{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.content .send input, .content .send a{
    width: 125px;
    color: white;
    background: #9b9796;
    line-height: 18px;
    font-family: PingFangTC-Regular;
    font-size: 14px;
}
.content .send input:hover, .content .send a:hover{
    background-color: #f56c23;;
}
@media(max-width:567px){
    .content h2{
        font-size: 40px;
    }
}