@import "reset.css";

.block1{
    width: 200px;
}
.block1 .menu{
    width: 200px;
}
.block1 .menu li{
    border: 1px solid black;
}
.block1 .menu li:hover, .block1 .menu li.active{
    background: blue;
    color: white;
}

.block2{
    margin-top: 50px;
    width: 200px;
}
.block2 .menu li{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin-bottom: 5px;
}
.block2 .addCart{
    height: 26px;
}
.block2 .addCart:hover, .block2 .addCart.active{
    background: blue;
    color: white;
}
.block2 .menu li h2{
    line-height: 26px;
    width: 50px;
}
.block2 .menu li.active{
    background: red;
}

.block3{
    margin-top: 50px;
    width: 300px;
}
.block3 .qa li{
    border: 1px black solid;
    margin-bottom: 5px;
}
.block3 .qa h3.active, .block3 .qa h3:hover{
    background: blue;
    color: white;
}
.block3 .qa p{
    display: none;
}

.block4{
    margin-top: 50px;
    width: 300px;
}
.block4 .section{
    display: none;
}
.block4 .chapter li >h1:hover, .block4 .chapter li >h1.active{
    background: blue;
}

.block5{
    margin-top: 50px;
    height: 50px;
    background: red;
}

.block6{
    margin-top: 50px;
}

.block7{
    margin-top: 50px;
}
.block7 td{
    border: 1px black solid;
}

.block8{
    margin-top: 50px;
    width: 200px;
}

.block9{
    margin-top: 50px;
}
.block9 ul li{
    list-style: circle;
}
.block9 a{
    font-size: 18px;
    text-decoration: none;
}
.block9 a:hover{
    color: red;
    background: yellow;
}
.block9 a:before{
    margin-left: 15px;
    margin-right: 15px;
}
