.wrap{
    max-width: 800px;
    margin: 0 auto;
}
.title{
    color:red
}
@media(max-width:768px){
    .title{
        color:blue;
    }
}
@media(max-width:375px){
    .title{
        color:yellow;
    }
}

.block1{
    margin-top: 50px;
    display: flex;
}
.block1 .menu{
    width: 30%;
    height: 100px;
    background: orange;
}
.block1 .content{
    width: 70%;
    height: 100px;
    background: blue;
}

.block2{
    margin-top: 50px;
}
.block2 ul{
    display: flex;
    flex-wrap: wrap;
}
.block2 li{
    width: 31.33333%;
    margin: 10px 1%;
}
@media(max-width:768px){
    .block2 li{
        width: 48%;
    }
}
@media(max-width:375px){
    .block2 li{
        width: 98%;
    }
}


.block3{
    margin-top: 100px;
    background: green;
}
.block3 .menu{
    width: 200px;
    height: 100px;
    background: red;
    float: left;
    
}
.block3 .content{
    height: 100px;
    margin-left: 220px;
    background: blue;
}

.block4{
    margin-top: 100px;
    display: flex;
    background: green;
}
.block4 .menu{
    flex: 0 0;
    flex-basis: 200px;
    height: 100px;
    background: red;
    
}
.block4 .content{
    height: 100px;
    margin-left: 20px;
    flex-grow: 1;
    background: blue;
}

.block5{
    margin: 50px 0;
    max-width: 800px;
}
.block5 .order{
    width: 100%;
}
.block5 .order th, .block5 .order td{
    width: 15%;
    border: 1px solid green;
    padding: 5px;
    text-align: center;
}
.block5 .order th{
    background: green;
    color: white;
}
@media(max-width: 569px){
    .block5 .m-none{
        display: none;
    }
}

.block6{
    margin: 50px 0;
    max-width: 800px;
}
.block6 .order{
    width: 100%;
}
.block6 .order th, .block6 .order td{
    width: 15%;
    border: 1px solid green;
    padding: 5px;
    text-align: center;
}
.block6 .order th{
    background: green;
    color: white;
}
.block6 .btn-danger{
    background: red;
    color: white;
}
@media(max-width: 569px){
    .block6{
        overflow-x: auto;
    }
    .block6 .order{
        width: 570px;
    }
}

.block7{
    margin: 50px auto;
    max-width: 960px;
}
.block7 .header{
    height: 80px;
    background: red;
}
.block7 .content{
    padding: 80px 0;
}
.block7 .form-login{
    max-width: 375px;
    margin: 0 auto;
}
.block7 .form-login h2, .block7 .form-login h3{
    text-align: center;
    margin: 0 auto;
}
.block7 .footer{
    height: 80px;
    background: blue;
}

.block8{
    margin: 50px auto;
    max-width: 960px;
}
.block8 ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.block8 li{
    width: 16%;
    text-align: center;
    line-height: 2em;
    font-size: 16px;
    border: 1px black solid;
}
@media(max-width:767px){
    .block8 li{
        width: 33%;
    }
}

.block9{
    margin: 50px auto;
    max-width: 960px;
}
.block9 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.block9 .logo{
    background: blue;
    width: 200px;
    height: 100px;
}
.block9 .content{
    padding: 1em;
    line-height: 1.8;
    font-size: 16px;
}
.block9 .menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.block9 .menu li{
    width: 10%;
    text-align: center;
    line-height: 2em;
    font-size: 16px;
    border: 1px black solid;
    background: gray;
}
.block9 .show-menu{
    display: none;
}
@media(max-width:767px) {
    .block9 .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 0px;
    }
    .block9 .menu li{
        width: 100%;
    }
    .block9 .show-menu{
        display: block;
    }
    
}

.block10{
    margin: 50px auto;
    max-width: 960px;
}
.block10 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.block10 .logo{
    background: blue;
    width: 200px;
    height: 100px;
}
.block10 .content{
    padding: 1em;
    line-height: 1.8;
    font-size: 16px;
}
.block10 .menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.block10 .menu li{
    width: 10%;
    text-align: center;
    line-height: 2em;
    font-size: 16px;
    border: 1px black solid;
    background: gray;
}
.block10 .show-menu{
    display: none;
}
@media(max-width:767px) {
    .block10 .menu{
        display: block;
        /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 2.3s;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 0px;
    }
    .block10 .menu li{
        width: 100%;
    }
    .block10 .show-menu{
        display: block;
    }
}
.block10 .menu.active{
    max-height: 500px;
}

.block11{
    margin: 50px auto;
    max-width: 960px;
    position: relative;
    overflow: hidden;
}
.block11 .aside{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    background: red;
    transition: all 2s;
    z-index: 10;
    display: none;
}
.block11 .aside.active{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.block11 a{
    display: block;
    font-size: 16px;
    line-height: 2em;
    text-decoration: none;
    color: white;
}
.block11 .aside .menu, .block11 .aside li{
    width: 100%;
    text-align: center;
}
.block11 .aside .mobile-close{
    padding-left: 20px;
}
.block11 .main{
    position: relative;
}
.block11 .header{
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 5;
}
.block11 .content{
    padding-top: 50px;
}
.block11 .header .menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.block11 .header li{
    padding: 5px 15px;
}
.block11 .header .mobile-link{
    display: none;
    height: 100%;
    line-height: 50px;
    padding-right: 15px;
}
@media(max-width:767px) {
    .block11 .header .mobile-link{
        display: block;
        text-align: right;
    }
    .block11 .header .menu{
        display: none;
    }
    .block11 .aside{
        display: block;
    }
}



