/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 1100px;
    margin: 0 auto;
}

.wrap .content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background: white;
}


.wrap .content .item1{
    width: 325px;
    background: #e7eeea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap .content .item1 img{
    padding-top: 75px;
    padding-bottom: 30px;
}

.wrap .content .item1 .linkBlock li{
    text-align: center;
    padding-bottom: 35px;
}

.wrap .content .item1 .linkBlock a{
    font-size: 22px;
    color: #37523d;
    text-decoration: none;
}

.wrap .content .item1 .linkBlock a:hover{
    color: red;
}


.wrap .content .item2{
    width: 775px;
    background: white;
    padding-left: 88px;
    padding-right: 87px;
}

.wrap .content .item2 h1{
    padding-top: 80px;
    font-size: 26px;
    color: #37523d;
}

.wrap .content .item2 p{
    padding-top: 35px;
    font-size: 22px;
    color: black;
}

.wrap .content .item2 .imgBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 35px;
}

.wrap .content .item2 .imgBlock img{
    margin-bottom: 10px;
}



