/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap .header{
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #e7eeea;
}

.wrap .header img{
    padding-left: 50px;
}

.wrap .header .linkBlock{
    width: 335px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrap .header .linkBlock a{
    width: 60px;
    text-align: center;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #37523d;
}

.wrap .header .linkBlock a:hover{
    color: red;
}

.wrap .content{
    width: 600px;
}
.wrap .content h2{
    text-align: left;
    color: black;
    padding-top: 75px;
    font-size: 18px;
}

.wrap .content p{
    text-align: left;
    color: black;
    padding-top: 24px;
    font-size: 15px;
}

.wrap .content img{
    padding-top: 18px;
}

.wrap .footer{
    width: 1280px;
    background: #37523d;
    margin-top: 95px;
    display: flex;
    justify-content: center;
}

.wrap .footer .linkBlock{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;

}

.wrap .footer .linkBlock li, a{
    color: white;
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 18px;
    text-decoration: none;
}

.wrap .footer .linkBlock a:hover{
    color: red;
}






