/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

.wrap{
    width: 996px;
    background: white;
    padding-top: 33px;
    margin: 0 auto;
}

.community{
	display: flex;
	justify-content: flex-end;
	background: #f6f6f6;
	padding: 6px 0;
}
.community li{
	border-right: 1px black solid;
    padding: 0 10px;
}
.community a{
	display: block;
	width: auto;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	text-indent: 20px;
    text-decoration: none;
}
.community a:hover{
    text-decoration: underline;
}
.community .fb
{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/facebookIcon.png);
}
.community .twitter{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/twitterIcon.png);
}

.topbar{
    display: flex;
    justify-content: space-between;
}
.topbar .logo{
    display: block;
	/*有背景圖片時可寫死寬高, 避免破圖或壓縮*/
	width: 224px;
	height: 50px;
    text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
}.topbar .menu{
    display: flex;
	width: 270px;
	justify-content: space-around;
}
.topbar .menu a{
    display: block;
    line-height: 44px;
    width: 80px;
    font-size: 14px;
	text-align: center;
    color: #42d39a;
	text-decoration: none;
	/*先建立透明的 border, hover 再改顏色*/
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.topbar .menu a:hover{
	border-bottom: #42d39a 3px solid;
}

.banner{
	height: 344px;
	margin: 0 auto;
	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner h1{
	padding: 40px 0;
	padding-left: 24px;
	font-size: 32px;
	line-height: 48px;
	color: white;
	background: rgba(10, 10, 10, 0.2);
}

.content{
	padding-top: 60px;
}

.course{
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;
}

.course .item{
	width: 304px;
	padding: 24px 0;
	padding-bottom: 2px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	box-shadow: 2px 5px 5px #dbdbdb;
	display: flex;
	flex-direction: column;
}
.course .item img{
	display: block; 
	width: 300px;
	height: 170px;
}
.course .item h2{
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: bolder;
	color: black;
}
.course .item p{
	margin: 0 20px;
	font-size: 14px;
	color: black;
	line-height: 22px;
	letter-spacing: 2px;
}
.course .item li{
	margin-left: 38px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 2px;
	list-style: disc;
}

.compare{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}
.compare h1{
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.compare tr{
	border-top: #dddddd 1px solid;
}
.compare .finalRow{
	border-bottom: #dddddd 1px solid;
}
.compare th, .compare td{
	font-size: 15px;
	line-height: 35px;
	width: 210px;
	padding-left: 22px;
	text-align: left;
}
.compare th{
	background: #f7f7f7;
}
.compare td{
	color: black;
}
.compare .highlight{
	color: #00a67d;
}

.message{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(#00644b, #009872);
	padding-top: 38px;
	padding-bottom: 30px;
}
.message h2{
	text-align: center;
	color: white;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 32px;
}
.message form{
	display: flex;
	width: 960px;
	justify-content: space-between;
}
.message form textarea{
	width: 460px;
	height: 245px;
	border-radius: 5px;
}
.userInfo{
	display: flex;
	flex-direction: column;
	width: 460px;
	align-items: flex-end;
}
.userInfo label{
	width: 460px;
	font-size: 14px;
	color: white;
	font-weight: bolder;
	margin-bottom: 6px;
}
.userInfo .inputText{
	width: 460px;
	padding: 8px 0;
	padding-left: 12px;
	margin-bottom: 15px;
	border-radius: 5px;
}
.userInfo .btn{
	color: white;
	width: 70px;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	background: #00cc99;
	font-weight: bolder;
	letter-spacing: 2px;
	border-radius: 5px;

}

.footer{
	display: flex;
	padding: 24px 20px;
	padding-bottom: 56px;
	justify-content: space-between;
}
.footer a img{
	display: block; 
}
.contact-us a{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
}
.contact-us a:hover{
	text-decoration: underline;
}
.contact-us span{
	color: red;
}














