/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
	width: 990px;
	background: white;
	padding-top: 33px;
}

.wrap .header .community{
	display: flex;
	justify-content: flex-end;
	background: #f6f6f6;
	padding: 6px 0;
}

.wrap .header .community li{
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px black solid;
}

.wrap .header .community a{
	display: block;
	height: 16;
	width: auto;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	text-indent: 20px;
}
.wrap .header .community .fb
{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/facebookIcon.png);
}

.wrap .header .community .twitter{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/twitterIcon.png);
}

.wrap .logo{
	display: flex;
	justify-content: space-between;
}

.wrap .logo h1 a{
	display: block;
	height: 50px;
	width: 224px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
}

.wrap .logo .menu{
	display: flex;
	align-items: stretch;
	width: 270px;
	justify-content: space-around;
}

.wrap .logo .menu a{
	display: block;
	height: 50px;
	width: 60px;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	color: #42d39a;
	text-decoration: none;
}

.wrap .logo .menu a:hover{
	margin-bottom: -3px;
	border-bottom: #42d39a 3px solid;
}




