/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/


.content{
	width: 1010px;
	background: green;
	padding: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.content .menu{
	display: flex;
	flex-direction: row;
}

.content .menu h1{
	writing-mode: vertical-rl;
	font-size: 40px;
	font-weight: bolder;
}

.content .menu h2{
	writing-mode: vertical-rl;
	font-size: 25px;
	font-weight: bolder;
}

.content .idCard{
	width: 500px;
	background: white;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
}

.content .idCard .box1{
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	right: 0;
	top: 30px;
}

.content .idCard .box2{
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;
	right: 0;
	bottom: 20px;
}

.content .idCard .box3{
	width: 100px;
	height: 100px;
	background: green;
	position: absolute;
	right: 50px;
	bottom: 80px;
}


.content .idCard .logo span{
	display: block;
	width: auto;
	font-size: 25px;
	font-weight: bolder;
	padding-bottom: 20px;
}

.content .idCard .title span{
	display: block;
	width: auto;
	font-size: 25px;
	font-weight: bolder;
	color: black;
	padding-bottom: 20px;
}

.content .idCard .name span{
	display: block;
	width: auto;
	padding-left: 100px;
	font-size: 35px;
	font-weight: bolder;
	padding-bottom: 20px;
}

.content .idCard .info span{
	display: block;
	width: auto;
	font-size: 16px;
	font-weight: bolder;
	padding-bottom: 5px;
}

