/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *::after {
  box-sizing: border-box;
}

.login, .signUp, .main {
  margin: 0 auto;
  max-width: 1028px;
  padding: 87px 116px;
  background: #FFD370;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .login, .signUp, .main {
    flex-direction: column;
    padding: 50px 10px;
  }
}

.login.hide, .signUp.hide, .main.hide {
  display: none;
}

.logo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.logo .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .banner .decorate {
  width: 50px;
  height: 50px;
  background: url(../img/Vector1.png) no-repeat center/100% auto;
}
@media (max-width: 768px) {
  .logo .banner .decorate {
    width: 30px;
    height: 30px;
  }
}
.logo .banner .decorate .decorate-inner {
  width: 100%;
  height: 100%;
  background: url(../img/Vector2.png) no-repeat center/100% auto;
}
.logo .banner h1 {
  font-family: "Baloo Thambi 2";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.45em;
}
@media (max-width: 768px) {
  .logo .banner h1 {
    font-size: 24px;
  }
}
.logo .background {
  margin-top: 10px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  height: 386px;
  width: 100%;
  background: url(../img/img.png) no-repeat center;
}
@media (max-width: 768px) {
  .logo .background {
    display: none;
  }
}

.login form, .signUp form {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.login form legend, .signUp form legend {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45em;
  text-align: center;
  color: #333333;
}
.login form label, .signUp form label {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45em;
  text-align: left;
  color: #333333;
}
.login form input, .signUp form input {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45em;
  color: #9F9A91;
  width: 100%;
}
.login form p, .signUp form p {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45em;
  color: #D87355;
}
.login form .btn-wrap, .signUp form .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form .btn-wrap .btn-style, .signUp form .btn-wrap .btn-style {
  border-radius: 10px;
  background: #333333;
  width: 150px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-size: 16px;
  line-height: 1.45em;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}
.login form .btn-wrap .go-another-page-btn-style, .signUp form .btn-wrap .go-another-page-btn-style {
  text-decoration: none;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45em;
  color: #333333;
}

.signUp form label {
  margin-top: 25px;
}

.login form label {
  margin-top: 10px;
}

.main {
  background: url(../img/bg.png) no-repeat;
  flex-direction: column;
  padding: 10px 30px;
  min-height: 670px;
  align-items: center;
}

.main-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-empty p {
  margin: 20px 0;
  color: #333333;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45em;
}
.main-empty img {
  display: block;
  width: 100%;
  height: auto;
}

.main-empty.hide {
  display: none;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .banner {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.main-header .banner h1 {
  font-family: "Baloo Thambi 2";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45em;
}
@media (max-width: 768px) {
  .main-header .banner h1 {
    font-size: 16px;
  }
}
.main-header .banner .decorate {
  width: 38px;
  height: 38px;
  background: url(../img/Vector1.png) no-repeat center/100% auto;
}
@media (max-width: 768px) {
  .main-header .banner .decorate {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 512px) {
  .main-header .banner .decorate {
    width: 15px;
    height: 15px;
  }
}
.main-header .banner .decorate .decorate-inner {
  width: 100%;
  height: 100%;
  background: url(../img/Vector2.png) no-repeat center/100% auto;
}
.main-header p, .main-header .logout-btn {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.45em;
  color: #333333;
  text-decoration: none;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .main-header p, .main-header .logout-btn {
    font-size: 16px;
    padding-left: 20px;
  }
}
@media (max-width: 512px) {
  .main-header p, .main-header .logout-btn {
    font-size: 14px;
    padding-left: 10px;
  }
}

.main-content {
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .add-new {
  width: 100%;
  position: relative;
}
.main-content .add-new .new-content {
  width: 100%;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main-content .add-new .add-btn {
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: #333333;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .add-new .add-btn i {
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}

.show {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.show .filter {
  display: flex;
  width: 100%;
}
.show .filter a {
  width: 33.33333%;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px transparent solid;
  padding: 15px 0;
  margin-bottom: 20px;
}
.show .filter a:hover, .show .filter a.active {
  border-bottom: 2px #333333 solid;
}
.show .summary {
  display: flex;
  justify-content: space-around;
}
.show .summary p, .show .summary .del-all-btn {
  text-decoration: none;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45em;
  color: #333333;
}

.show.hide {
  display: none;
}

.todo_item {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
}
.todo_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45em;
  color: #333333;
}
.todo_item .content-wrap {
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 20px;
}
.todo_item .content-wrap .content-show-wrap, .todo_item .content-wrap .modify-wrap {
  display: flex;
  width: 100%;
}
.todo_item .content-wrap .content-show-wrap .content, .todo_item .content-wrap .modify-wrap .content {
  flex-grow: 1;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45em;
  color: #333333;
  text-decoration: none;
}
.todo_item .content-wrap .content-show-wrap .content.done, .todo_item .content-wrap .modify-wrap .content.done {
  text-decoration: line-through;
}
.todo_item .content-wrap .content-show-wrap a, .todo_item .content-wrap .modify-wrap a {
  margin-left: 15px;
}
.todo_item .content-wrap .content-show-wrap.hide, .todo_item .content-wrap .modify-wrap.hide {
  display: none;
}