@import "variable";
@import "reset" ;
@import "mixin";
@import "grid";

.login, .signUp, .main{
    @include webCenter;
    max-width: $max-web-width;
    padding: $web-padding-computer;
    background: $main-background-color;
    display: flex;
    align-items: center;
    @include pad{
        flex-direction: column;
        padding: 50px 10px;
    }
}
.login.hide, .signUp.hide, .main.hide{
    display: none;
}

.logo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .banner{
        @include innerCenter;
        .decorate{
            width: 50px;
            height: 50px;
            background: url(../img/Vector1.png) no-repeat center / 100% auto;
            @include pad{
                width: 30px;
                height: 30px;
            }
            .decorate-inner{
                width: 100%;
                height: 100%;
                background: url(../img/Vector2.png) no-repeat center / 100% auto;
            }
        }
        h1{
            font-family: $banner-font-family;
            font-style: $font-style;
            font-weight: $font-weight-l;
            font-size: $banner-font-size;
            line-height: $line-height;
            @include pad{
                font-size: $font-size-l;
            }
        }
        
    }
    .background{
        margin-top: 10px;
        @include hideText;
        height: 386px;
        width: 100%;
        background: url(../img/img.png) no-repeat center;
        @include pad{
            display: none;
        }
    }
}

.login, .signUp {
    form{
        width: 300px;
        display: flex;
        flex-direction: column;
        legend{
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-l;
            font-size: $font-size-l;
            line-height: $line-height;
            text-align: center;
            color: $font-color;
        }
        label{
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-l;
            font-size: $font-size-s;
            line-height: $line-height;
            text-align: left;
            color: $font-color;
        }
        input{
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-m;
            font-size: $font-size-m;
            line-height: $line-height;
            color: $input-font-color;
            width: 100%;
        }
        p{
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-m;
            font-size: $font-size-s;
            line-height: $line-height;
            color: $input-warning-font-color
        }
        .btn-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn-style{
                border-radius: $border-radius;
                background: $btn-background-color;
                width: 150px;
                font-family: $font-family;
                font-style: $font-style;
                font-size: $font-size-m;
                line-height: $line-height;
                color: $btn-font-color;
                margin-bottom: 30px;
                margin-top: 10px;
                text-align: center;
            }
            .go-another-page-btn-style{
                text-decoration: none;
                font-family: $font-family;
                font-style: $font-style;
                font-weight: $font-weight-m;
                font-size: $font-size-m;
                line-height: $line-height;
                color: $font-color;
            }
        }
    }
}
.signUp form{
    label{
        margin-top: 25px;
    }
}
.login form{
    label{
        margin-top: 10px;
    }
}

.main{
    background: url(../img/bg.png) no-repeat;
    flex-direction: column;
    padding: 10px 30px;
    min-height: 670px;
    align-items: center;
}
.main-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
        p{
            margin: 20px 0;
            color: $font-color;
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-m;
            font-size: $font-size-m;
            line-height: $line-height;
        }
        img{
            display: block;
            width: 100%;
            height: auto;
        }
}
.main-empty.hide{
    display: none;
}
.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .banner{
        display: flex;
        flex-grow: 1;
        align-items: center;
        h1{
            font-family: $banner-font-family;
            font-style: $font-style;
            font-weight: $font-weight-l;
            font-size: $font-size-l;
            line-height: $line-height;
            @include pad{
                font-size: $font-size-m;
            }
        }
        .decorate{
            width: 38px;
            height: 38px;
            background: url(../img/Vector1.png) no-repeat center / 100% auto;
            @include pad{
                width: 25px;
                height: 25px;
            }
            @include mobile{
                width: 15px;
                height: 15px;
            }
            .decorate-inner{
                width: 100%;
                height: 100%;
                background: url(../img/Vector2.png) no-repeat center / 100% auto;
            }
        }
    }
    p, .logout-btn{
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight-l;
        font-size: $font-size-m;
        line-height: $line-height;
        color: $font-color;
        text-decoration: none;
        padding-left: 30px;
        @include pad{
            font-size: $font-size-m;
            padding-left: 20px;
        }
        @include mobile{
            font-size: $font-size-s;
            padding-left: 10px;
        }
    }

}
.main-content{
    margin-top: 50px;
    width: 100%;
    max-width: $todoListTable-max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    .add-new{
        width: 100%;
        position: relative;
        .new-content{
            width: 100%;
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-s;
            font-size: $font-size-m;
            line-height: 44px;
            border-radius: $border-radius;
            margin-bottom: 20px;
        }
        .add-btn{
            width: 40px;
            height: 40px;
            text-decoration: none;
            background: $btn-background-color;
            border-radius: $border-radius;
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 5;
            @include innerCenter;
            i{
                color: $btn-font-color;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}


.show{
    width: 100%;
    background: $todolist-background-color;
    border-radius: $border-radius;
    padding: 10px;
    .filter{
        display: flex;
        width: 100%;
        a{
            width: 33.33333%;
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-l;
            font-size: $font-size-s;
            line-height: $line-height;
            text-align: center;
            text-decoration: none;
            border-bottom: $todo-filter-unactive;
            padding: 15px 0;
            margin-bottom: 20px;
        }
        a:hover, a.active{
            border-bottom: $todo-filter-active;
        }
    }
    .summary{
        display: flex;
        justify-content: space-around;
        p, .del-all-btn{
            text-decoration: none;
            font-family: $font-family;
            font-style: $font-style;
            font-weight: $font-weight-s;
            font-size: $font-size-s;
            line-height: $line-height;
            color: $font-color;
        }
    }
}
.show.hide{
    display: none;
}
.todo_item{
    list-style: none;
    padding: 10px;
    border-bottom: $todo-item-border;
    display: flex;
    justify-content: space-between;
    a{
        @include innerCenter;
        text-decoration: none;
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight-s;
        font-size: $font-size-s;
        line-height: $line-height;
        color: $font-color;
    }
    .content-wrap{
        flex-grow: 1;
        padding-right: 10px;
        padding-left: 20px;
        .content-show-wrap, .modify-wrap{
            display: flex;
            width: 100%;
            .content{
                flex-grow: 1;
                font-family: $font-family;
                font-style: $font-style;
                font-weight: $font-weight-s;
                font-size: $font-size-s;
                line-height: $line-height;
                color: $font-color;
                text-decoration: none;
            }
            .content.done{
                text-decoration: line-through;
            }
            a{
                margin-left: 15px;
            }
        }
        .content-show-wrap.hide, .modify-wrap.hide{
            display: none;
        }
    }
}