@mixin hideText(){
    text-indent:110%;
    overflow:hidden;
    white-space:nowrap;
}
@mixin webCenter(){
    margin: 0 auto;
}
@mixin innerCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}