$max-web-width: 1028px;
$web-padding-computer: 87px 116px;

$todoListTable-max-width: 500px;

$border-radius: 10px;

$banner-font-family: 'Baloo Thambi 2';
$font-family: 'Noto Sans TC';

$font-style: normal;

$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;

$banner-font-size: 32px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

$line-height: 1.45em;

$font-color: #333333;
$input-font-color: #9F9A91;
$input-warning-font-color: #D87355;
$btn-font-color: #ffffff;

$btn-background-color: #333333;
$main-background-color: #FFD370;
$todolist-background-color: #ffffff;

$todo-filter-unactive: 2px transparent solid;
$todo-filter-active: 2px #333333 solid;
$todo-item-border: 1px solid #E5E5E5;
