@import "layout.css";

.wrap .header{
    background: url("../img/bg_course.png");
}

.wrap .header .banner{
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}
.wrap .header .banner .slogan{
    padding-top: 110px;
}
.wrap .header .banner .slogan h1{
    color: white;
    font-size: 38px;
    padding-bottom: 18px;
}
.wrap .header .banner .slogan p{
    color: #00cc99;
    font-size: 22px;
}
.wrap .header .banner .logo{
    padding-top: 35px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.wrap .header .register{
    margin-top: 60px;
    display: block;
    margin-left: 40px;
    text-align: center;
    width: 220px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
    background: #00cc99;
    color: white;
    border-radius: 5px;
}

.wrap .header .register:hover{
    text-decoration: underline;
}

.wrap .content .teacher, .introduction, .outline{
    padding: 0 220px;
}

.wrap .content .teacher{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap .content .teacher .name{
    font-size: 34px;
    line-height: 48px;
}

.wrap .content .teacher .name span{
    color: #00cc99;
}

.wrap .content .teacher .experience{
    font-size: 14px;
    text-indent: 30px;
    color: #9b9b9b;
    list-style: disc;
}
.wrap .content .introduction{
    margin-top: 56px;
}
.wrap .content .introduction ul{
    margin-top: 28px;
    margin-left: 26px;
    list-style: decimal;
    font-size: 16px;
    text-indent: 15px;
}

.wrap .content .outline{
    margin-top: 58px;
}

.wrap .content .outline ul{
    font-size: 14px;
    line-height: 50px;
    margin-top: 28px;
    text-indent: 38px;
    margin-bottom: 60px;
}
.wrap .content .outline ul li{
    background: white;
    color: #9b9b9b;
}
.wrap .content .outline ul span li{
    background: #ebebeb;
    color: black;
}

.wrap .content .register{
    display: flex;
    background: #ebebeb;
    padding: 135px 200px;
    align-items: flex-end;
    justify-content: space-between;
}
.wrap .content .register p{
    font-size: 28px;
    line-height: 60px;
}
.wrap .content .register a{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    background: #00cc99;
    border-radius: 5px;
    color: white;
}
.wrap .content .register a:hover{
    text-decoration: underline;
}









