@import "layout.css";

.wrap .header{
    background: url("../img/bg_QA.png");
}

.wrap .header .banner{
    margin: 0 auto;
    width: 620px;
    margin-top: 110px;
}
.wrap .header .banner p{
    text-align: center;
    font-size: 44px;
    list-style: 56px;
    color: white;
}
.wrap .header .banner p span{
    font-size: 22px;
    color: #00cc99;
}
.wrap .header .banner .search{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.wrap .header .banner .searchBar{
    width: 570px;
    height: 50px;
    font-size: 22px;
    border-radius: 5px 0 0 5px;
    padding: 0;
    border: 2px solid gray;
    border-right: 0;
}
.wrap .header .banner .btn{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 0 5px 5px 0;
}
.wrap .header .banner .btn input{
    text-indent: 150%;
    overflow: hidden;
	white-space: nowrap;
    background: url(../img/search.png) no-repeat 10px 10px / 30px 30px;
    padding: 0;
    border: 2px solid gray;
    border-left: 0;
}

.wrap .content .block{
    margin-top: 60px;
    padding: 0 120px;
}
.wrap .content .block li{
    margin-top: 35px;
}
.wrap .content .block .Q{
    font-weight: bolder;
    font-size: 22px;
    line-height: 28px;
}
.wrap .content .block .A{
    font-size: 18px;
    line-height: 22px;
    color: #9b9b9b;
}

.wrap .content .block .A span{
    color: #00cc99;
}

.wrap .content .block .detail li{
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    list-style: decimal;
    margin-left: 40px;
    color: #9b9b9b;
    text-indent: 18px;
}

.wrap .content .block .refund li{
    list-style: disc;
}

.wrap .content .contact{
    background: #ebebeb;
    display: flex;
    justify-content: space-between;
    padding: 135px 40px;
    margin-top: 60px;
}

.wrap .content .contact p{
    font-size: 28px;
    line-height: 58px;
}

.wrap .content .contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.wrap .content .contact form .inputText, .inputTextarea{
    width: 460px;
    height: 52px;
    font-size: 20px;
    line-height: 52px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.wrap .content .contact form .inputTextarea{
    height: 200px;
}
.wrap .content .contact form .btn{
    width: 140px;
    height: 50px;
    background-color: #00cc99;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}


