@import "layout.css";

.wrap .header{
    background: url("../img/bg_index.png");
}

.wrap .header .banner{
    padding-left: 40px;
    padding-top: 86px;
}

.wrap .header .banner p{
    font-size: 44px;
    color:white;
    line-height: 80px;
    padding-bottom: 42px;
}

.wrap .header .banner span{
    color:#00cc99;
}

.wrap .header .banner a{
    display: block;
    color: white;
    background: #00cc99;
    width: 220px;
    height: 52px;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.wrap .header .banner a:hover{
    text-decoration: underline;
}

.wrap .content{
    padding-top: 60px;
}

.wrap .content .course, .compare{
    padding: 0px 42px;
}

.wrap .content .course .banner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
}

.wrap .content .course .banner a{
    display: block;
    width: 92px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #00cc99;
    color: #00cc99;
    text-decoration: none;
}

.wrap .content .course .banner a:hover{
    text-decoration: underline;
    font-size: 20px;
}

.content .course .introduction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.content .course .introduction .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px #9b9b9b solid;
    box-shadow: 3px 3px 3px #9b9b9b;
    padding: 24px 18px;

}

.content .course .introduction .item h2{
    font-size: 18px;
    padding: 15px 0;
}

.content .course .introduction .item p{
    font-size: 16px;
    line-height: 20px;
}

.content .compare table{
    margin: 30px 0;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.content .compare table .highlight{
    color: #00cc99;
}
.content .compare table tr{
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
}
.content .compare table td, th{
    width: 235px;
}
.content .compare table th{
    background: #ebebeb;
}

.content .contact{
    padding: 140px 42px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    background: #ebebeb;
}
.content .contact p{
    margin-top: 5px;
    font-size: 28px;
    line-height: 60px;
}
.content .contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content .contact form input{
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .contact form .userInput{
    width: 460px;
}

.content .contact form .botton{
    width: 140px;
    text-align: center;
    background: #00cc99;
    color: white;
    letter-spacing: 20px;
    text-indent: 20px;
}






