/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

.wrap{
    width: 1024px;
    margin: 0 auto;
}

.wrap .header{
    background: blue;
    height: 560px;
}

.wrap .header .navbar{
    display: flex;
    align-self: center;
    padding: 0px 42px;
    justify-content: space-between;
    align-items: stretch;
    background: rgba(50, 50, 50, 0.5);
}

.wrap .header .navbar .logo{
    display: flex;
    align-items: center;
}


.wrap .navbar .menu{
    display: flex;
    align-self: center;
    width: 204px;
    justify-content: space-between;
}

.wrap .navbar .menu a{
    display: block;
    width: 60px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.wrap .navbar .menu a:hover{
    color: #00cc99;
    margin-bottom: -7px;
	border-bottom: #42d39a 7px solid;
}

.wrap .footer{
    display: flex;
    justify-content: space-between;
    padding: 36px 42px;
    background: #323228;
    align-items: center;
}

.wrap .footer .logo{
    width: 182px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #8a8a89;
    font-size: 14px;
}

.wrap .footer .community{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
}

.wrap .footer .community img{
    display: block;
}

.wrap .content .slogan{
    display: flex;
    align-items: flex-end;
    
}

.wrap .content .slogan h2{
    font-size: 32px;
    color: #00cc99;
}

.wrap .content .slogan p{
    font-size: 18px;
    color: #9b9b9b;
    text-indent: 14px;
}