/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 907px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 13px;
    padding-bottom: 17px;
    margin: 0 auto;
    background: #37523d;
}

.wrap .header{
    width: 878px;
    background: #e7eeea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.wrap .header a{
    color: #37523d;
    font-size: 10px;
    font-weight:bold;
}

.wrap .content{
    display: flex;
    width: 878px;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: white;
}

.wrap .content .item{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap .content .item .doc h1{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 25px;
    color: black;
}

.wrap .content .item .doc p{
    font-size: 16px;
    color: black;
}

.wrap .content .item ul{
    display: flex;
    flex-direction: row;
}

.wrap .content .item a{
    padding-right: 10px;
    font-size: 20px;
    color: #37523d;
}