*,*:before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
a{
	display: block;
}

.wrap{
    max-width: 1000px;
    background: white;
    padding-top: 33px;
    margin: 0 auto;
}

.community{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	background: #f6f6f6;
	padding: 6px 0;
}
.community li{
	border-right: 1px black solid;
    padding: 0 10px;
}
.community a{
	background-size: 16px 16px;
	background-repeat: no-repeat;
	text-indent: 20px;
    text-decoration: none;
}
.community a:hover{
    text-decoration: underline;
}
.community .fb
{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/facebookIcon.png);
}
.community .twitter{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/twitterIcon.png);
}

.topbar{
    display: flex;
    justify-content: space-between;
	align-items: center;
}
@media(max-width:767px){
	.topbar{
		flex-direction: column;
		align-items: stretch;
	}
	.topbar .logo-wrap{
		display: flex;
		justify-content: center;
	}
}
.topbar .logo{
	/*有背景圖片時可寫死寬高, 避免破圖或壓縮*/
	height: 50px;
	width: 224px;
    text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	background-repeat: no-repeat;
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
}
.topbar .menu{
    display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.menu > li{
	width: 135px;
	position: relative;
}
.subMenu, .subMenu li{
	width: 100%;
} 
.topbar a{
	width: 100%;
	text-align: center;
	text-decoration: none;
}
@media(max-width:767px){
	.menu > li{
		width: 50%;
	}
}
.topbar .menu > li > a{
    line-height: 44px;
    font-size: 14px;
    color: #42d39a;
	/*先建立透明的 border, hover 再改顏色*/
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.topbar .menu > li > a:hover, .topbar .menu > li > a.active{
	border-bottom: #42d39a 3px solid;
}
.topbar .subMenu{
	display: none;
	position: absolute;
	top: 50px;
	z-index: 10;
}
.topbar .subMenu li{
	background: white;
	border-radius: 5px;
	margin: 3px 0;
}
.topbar .subMenu a{
    line-height: 2em;
    font-size: 14px;
	color: blue;
}
.topbar .subMenu a:hover{
	color: red;
}

.banner{
	position: relative;
}
.banner .h1-wrap{
	position: absolute;
	z-index: 10;
	width: 80%;
	height: 40%;
	top: 30%;
	left: 10%;
	background: rgba(10, 10, 10, 0.9);
	display: flex;
	align-items: center;
}
.banner h1{
	padding-left: 1em;
	font-size: 30px;
	line-height: 1.5;
	color: white;
}
@media(max-width:768px){
	.banner h1{
		font-size: 24px;
	}
}
@media(max-width:375px){
	.banner h1{
		font-size: 20px;
	}
}
@media(max-width:320px){
	.banner h1{
		font-size: 14px;
	}
}

.course{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.course-item{
	width: 31.3333%;
	padding-top: 24px;
	padding-bottom: 2px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	box-shadow: 2px 5px 5px #dbdbdb;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
	margin: 0 1%;
}
@media(max-width:767px){
	.course-item{
		width: 80%;
		margin: 0 10%;
		margin-bottom: 60px;
	}
}
.course-item h2{
	text-align: center;
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: bolder;
	color: black;
}
.course-item p{
	margin: 0 20px;
	font-size: 14px;
	color: black;
	line-height: 1.5em;
	letter-spacing: 2px;
}
.course-item li{
	margin-left: 38px;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 2px;
	list-style: disc;
}
@media(max-width:767px){
	.course-item h2{
		font-size: 28px;
	}
	.course-item p, .course-item li{
		font-size: 22px;
	}
}

.scrollTop{
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 20;
}













