@import "base";
$primary: #30c39e;

%transition {
    transition: all .3s ease;
}

h2{
    @include hide-text;
}

.btn {
    padding: 6px 12px;
    background: $primary;
    @extend %transition;
    &:hover {
        background: darken($primary, 5%);
    }
    &:active {
        background: darken($primary, 10%);
    }
}

p{
    width: 100%;
    @include pad(){
        width: auto;
    }
}