/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.box{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50% 0 0 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    line-height: 100px;
}

.box2{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50% 0 20px 0;
    border: blue 5px solid;
    margin-bottom: 10px;
}

.box3{
    width: 100px;
    height: 100px;
    background:linear-gradient(blue, red);
    border-radius: 50% 0 20px 0;
    border: green 5px solid;
    margin-bottom: 10px;
}

.box4{
    width: 100px;
    height: 100px;
    background:linear-gradient(to right, blue, red);
    border-radius: 50% 0 20px 0;
    border: green 5px solid;
    margin-bottom: 50px;
}

.box5{
    width: 100px;
    height: 100px;
    background:linear-gradient(to right, blue, red);
    border-radius: 50% 10px 20px 10px;
    border: green 5px solid;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px pink;
}

.box6{
    width: 100px;
    height: 100px;
    background:linear-gradient(to right, blue, red);
    border-radius: 50% 10px 20px 10px;
    border: green 5px solid;
    margin-bottom: 50px;
    box-shadow: -10px -10px 10px pink;
}

