/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

.wrap{
    width: 1024px;
    border: 1px solid black;
    margin: 0 auto;
}

.wrap .header{
    margin-bottom: 30px;
}

.wrap .content{
    margin-bottom: 10px;
}

.wrap .content .course{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrap .content .course .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 300px;
}

.wrap .content .course .item h2{
    color: black;
    font-size: 20px;
    text-align: center;
}

.wrap .content .course .item p{
    color: black;
    font-size: 18px;
}

.wrap .footer{
    background: gray;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}