/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 948px;
    background: white;
    margin: 0 auto;
    padding: 5px;
}

.wrap .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.wrap .content .menu{
    width: 300px;
    background: white;
    text-align: center;
    padding-right: 20px;
}

.wrap .content .menu h1{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #37523d;
    color: white;
    font-size: 24px;
}

.wrap .content .menu li{
    outline: 1px solid #e7eeea;
}

.wrap .content .menu a{
    display: block;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #37523d;
}

.wrap .content .menu a:hover{
    background: #e7eeea;
}

.wrap .content .exhibit{
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap .content .exhibit .item{
    margin-bottom: 18px;
    text-align: center;
}

.wrap .content .exhibit .item .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 18px;
}

.wrap .content .exhibit .item .info p{
    font-size: 20px;
    color: #37523d;
    font-weight: bolder;
}

.wrap .content .exhibit .item a{
    display: block;
    color: #37523d;
    background: #e7eeea;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 28px;
    padding-bottom: 28px;
    text-decoration: none;
}

.wrap .content .exhibit .item a:hover{
    color: red;
}






