/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 1286px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.wrap .content1, .content2, .content3{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 30px;
}

.wrap .content1{
    display: flex;
    flex-direction: row;
    background: #e7eeea;
    width: 1284px;
    align-items: center;
    margin-bottom: 44px;
}

.wrap .content1 .block{
    display: flex;
    flex-direction: row;
    width: 428px;
}

.wrap .content1 .block img{
    width: 60px;
    height: 60px;
}

.wrap .content1 .block .subBlock{
    padding-right: 45px;
}
.wrap .content1 .block .subBlock h1{
    color: #37523d;
    font-size: 16px;
    padding-top: 30px;
}

.wrap .content1 .block .subBlock p{
    color: #37523d;
    font-size: 14px;
    padding-top: 23px;
    
}

.wrap .content2{
    display: flex;
    flex-direction: row;
    background: #e7eeea;
    width: 1284px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.wrap .content2 .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 474;
}

.wrap .content2 .block img{
    margin-top: 10px;
}

.wrap .content2 .block h1{
    color: #37523d;
    font-size: 16px;
    padding-top: 10px;
}

.wrap .content2 .block p{
    color: #37523d;
    font-size: 14px;
    padding-top: 23px;
    padding-bottom: 30px;
    width: 355px;
    text-align: center;
}

.wrap .content3{
    background: #e7eeea;
    width: 1284px;
}

.wrap .content3 .block{
    display: flex;
    flex-direction: row;
}

.wrap .content3 .block2{
    display: flex;
    flex-direction: row-reverse;
}

.wrap .content3 .block .subBlock h1{
    color: #37523d;
    font-size: 16px;
    padding-top: 60px;
}

.wrap .content3 .block .subBlock p{
    color: #37523d;
    font-size: 16px;
    padding-top: 20px;
}

.wrap .content3 .block2 .subBlock h1{
    color: #37523d;
    font-size: 16px;
    padding-top: 60px;
}

.wrap .content3 .block2 .subBlock p{
    color: #37523d;
    font-size: 16px;
    padding-top: 20px;
}




