h1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    border-left: 5px dotted gray;
    border-bottom: 5px solid red;
}
p{
    color: green;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    text-indent: 40px;
    text-decoration: line-through;
    letter-spacing: 10px;
}
a{
    color: brown;
}
a:hover{
    color: crimson;
    font-size: 40px;
}
a:active{
    color:black ;
}

.style1{
    font-size: 40px;
}

.style2{
    color: darkorange;
}

.style2:hover{
    color: pink;
}

img{
    border-top: 20px solid black;
    border-bottom: 20px solid red;
}