/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    padding-left: 300px;
}

.block1 h2{
    display: none;
}

.block2{
    margin-top: 50px;
}
.block2 .text{
    display: none;
}

.block3{
    margin-top: 50px;
}
.block3 form.text{
    /* opacity 為透明度, all 代表所有元素*/
    opacity: 0;
    transition: all 3s;
}
.block3 form.active{
    opacity: 1;
}

.block4{
    margin-top: 50px;
}
.block4 .box{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
}
.block4 .box .title{
    transition: all 1s;
    background: blue;
    position: absolute;
    bottom: -30px;
}
.block4 .box:hover .title{
    bottom: 0px;
}

.block5{
    margin-top: 50px;
}
.block5 .box{
    width: 300px;
    height: 300px;
    background: red;
}

.block6{
    margin-top: 50px;
}
.block6 .box{
    width: 300px;
    height: 300px;
    background: red;
}

.block7{
    margin-top: 50px;
}
.block7 .box{
    width: 300px;
    height: 300px;
    background: black;
}

.block8{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background: pink;
    margin: 0 auto;
    
}
.block8 .menu{
    display: flex;
    height: 18px;
}
.block8 .menu a{
    text-decoration: none;
    background: #fff;
    border: 1px solid gray;
    display: block;
    text-align: center;
    transition: all .3s;
}
.block8 .menu >li{
    width: 100px;
}
.block8 .menu a:hover, .block8 .menu a.active{
    background: blue;
    color: #fff
}
.block8 .menu .subMenu1, .subMenu2{
    display: none;
}

.block9{
    margin-top: 50px;
}
.block9 .box1, .box2, .box3{
    width: 100px;
    height: 100px;
    display: none;
}
.block9 .box1{
    background: red;
}
.block9 .box2{
    background: blue;
}
.block9 .box3{
    background: green;
}

.block10{
    margin-top: 50px;
}
.block10 .bar{
    display: flex;
}
.block10 .bar .btn{
    width: 100px;
}
.block10 .content p{
    font-size: 20px;
}

.block11{
    margin-top: 50px;
}
.block11 .ad{
    background: green;
    width: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.block11 .ad p{
    font-size: 30px;
    line-height: 1.5;
}
.block11 .ad .adClose{
    display: block;
    background: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.block12{
    margin-top: 50px;
    width: 300px;
    background: black;

}
.block12 .container{
    position: relative;
    overflow: hidden;
}
.block12 .main{
    width: 100%;
    height: 300px;
}
.block12 .main .header{
    background: red;
    height: 50px;
}
.block12 .aside{
    background: yellow;
    position: absolute;
    left: -270px;
    bottom: 0;
    height: 300px;
    width: 270px;
    transition: all 3s;
}
.block12 .asideOpen{
    left: 0px;
}

.block13{
    margin-top: 50px;
}
.block13 h1{
    font-size: 30px;
}






