.block3{
    width: 500px;
    margin: 0 auto;
    border: 1px black solid;
}

.block5{
    margin-top: 50px;
    width: 500px;
    margin: 0 auto;
    border: 1px black solid;
}
.block5 .addNew{
    display: flex;
    flex-direction: column;
}
.block5 .head{
    display: flex;
    align-items: center;
}
.block5 .head h2{
    flex-grow: 1;
}
.block5 .head .edit input{
    height: 20px;
    width: 50px;
}
.block5 .todo-list .content{
    display: none;
}
.block5 .todo-list .content.view{
    display: block;
}
