/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*::after{
	box-sizing: border-box;
}

/*
*{
    outline: 1px solid black;
}
*/

.wrap{
    width: 1138px;
    margin: 0 auto;
}

.wrap .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: white;
    padding: 8px;

}

.wrap .content .item{
    display: flex;
    flex-direction: column;
    width: 553px;
    background: #e7eeea;
    align-items: center;
    justify-content: center;

}

.wrap .content .item h2{
    text-align: left;
    padding-left: 38px;
    background: #e7eeea;
    color: #37523d;
    font-size: 26px;
    padding-top: 215px;
    padding-bottom: 38px;
    
}

.wrap .content .item h3{
    text-align: left;
    padding-left: 38px;
    background: #e7eeea;
    color: #37523d;
    font-size: 22px;
    padding-bottom: 216px;
}

.wrap .content .item p{
    text-align: left;
    padding-left: 38px;
    background: #e7eeea;
    color: black;
    font-size: 22px;
    padding-bottom: 42px;
}